*{
    box-sizing: border-box;
    margin: 0;
}
/* CONTENEDOR IMAGEN */
.content {
    width: 38%!important;
    margin: 15px auto !important;
    /* position: relative!important; */
    /* text-align: center; */
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    background: rgba(223, 220, 220, 0.466);
    box-shadow: 5px 5px 16px grey;
    /* background-position: center!important; */
    /* background-size: auto!important; */
}

/* IMAGEN */
.ajustimg {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center;
}



.ContEvents{
    margin: auto;
   
}

.card{
    /* width: 15%; */
    /* float: left; */
    margin: 0.5rem;
    display: inline-block;
}
.card-title {
    margin-bottom: .75rem;
    text-align: center;
    font-size: 3rem;
}



.Quiensoy{
    clear: both;
    border: solid 1px gray;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 7rem 3rem;
    background: rgba(223, 220, 220, 0.466);
    box-shadow: 5px 5px 16px grey;
}


.btn-block {
   
    margin: auto!important;
}

.contnum{
    margin: auto;
    margin-bottom: 3rem;
}

.Numcontact{
    width:30%;
    background-color: black;
    height: 10rem;
    display: none;
    margin: auto;
    margin-bottom: 1rem;
}









/* CONTENEDOR IMAGEN PARA MOBILE */

@media (max-width: 740px){  
    .content{

        width: 30rem!important;
        margin: 20px !important;
        position: relative!important;
        text-align: center;
        padding: 4rem 1rem;
        border-radius: 0.5rem;
        background: rgba(223, 220, 220, 0.466);
        box-shadow: 5px 5px 16px grey;
        background-position: center!important;
        background-size: auto!important;
    }
    .ajustimg {
        width: 100%;
        height: 10rem;
        background-size: cover;
        background-position: center;
    }      
}